@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255),
                 0 0 20px rgba(255, 255, 255, 0.8),
                 0 0 30px rgba(255, 255, 255, 0.6),
                 0 0 40px rgb(255, 255, 255, 0.4),
                 0 0 50px rgb(255, 255, 255, 0.3),
                 0 0 60px rgb(252, 252, 252,0.2);
  }
}